/* utilities */
body{
    overflow-x: hidden;
}
h2{
    margin-bottom: 20px;
}
h5{
    line-height: 1.6em;
}
p{
    font-size: 16px;
    line-height: 25px;
}
.cust{
    margin-top: 80px;
    margin-bottom: 80px;
}
.illustration img{
    transition: .4s ease-in;
    animation: zoom .8s ease-in infinite alternate;
}
@keyframes zoom{
    from{
        transform: scale(0.8);
    }
}
/* header start */
header h1{
    margin-bottom: 70px;
}
.btn-border{
    color: #FB8F1D;
    border: #FB8F1D;
}
.btn-bg{
    background-color: #FB8F1D;
    color: #fff;
}
.dropdown{
    width: 100%;
    outline: none;
}
.dropdwon-border{
    border: 1px solid #AFB0B9;
}

/* header end */

/* features destination start */
.destination{
    background-image: url(../images/bg-3.png);
    background-size: cover;
}
.more{
    color: #FB8F1D;
    padding: 5px 7px;
    transition: 0.4s ease-in;
    border-radius: 8px;
}
.more:hover{
    color: #fff;
    cursor: pointer;
    background-color: #FB8F1D;
}
/* features destination end */

/* trend stories start */
.trend a{
    color: #FB8F1D;
    border-radius: 8px;    
    padding: 5px 7px;
    text-decoration: none;
    transition: 0.8s ease-in;
}
.trend a:hover{
    color: #fff;
    background-color: #FB8F1D;
}
/* trend stories end */

/* footer start */
footer>.row li{
    line-height: 1.8em;
    list-style-type: none;
}
footer>.row li a{
    color: #848484;
    text-decoration: none;
}
footer>.row li:nth-child(1){
    margin-bottom: 15px;
    color: #000;
}
.social-icon a{
    color: #000;
}
.social-icon li{
    list-style-type: none;
    margin: 0 20px;
}
.social-icon i{
    font-size: 20px;
}


/* icon style */
.fab{
    transition: 0.4s ease;
}

/* twitter */
.fa-twitter:hover{
    color: #1DA1F2;
}

/* facebook */
.fa-facebook-f:hover{
    color: #1778F2;
}

/* instagram */
.fa-instagram:hover{
    background: -webkit-linear-gradient(224deg, #5b51c9, #9b36b8, #e02d77, #fdc964);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background: -webkit-linear-gradient(224deg, #5b51c9, #9b36b8, #e02d77, #fdc964); */
}

/* linkedin */
.fa-linkedin-in:hover{
    color: #0e76a8;
}

/* youtube */
.fa-youtube:hover{
    color: #ff0000;
}
/* footer end */