/* utilities */
h1{
    color: #202336;
    font-size: 64px;
}
h2{
    color: #000;
    font-size: 40px;
    line-height: 1.5em;
    margin-bottom: 40px;
}
h5{
    line-height: 1.6em;
}
p{
    font-size: 16px;
    line-height: 25px;
}
.cust{
    margin-top: 120px;
    margin-bottom: 120px;
}
/* header start */
header{
    background-image: url(../images/background.png);
    background-size: cover;
}
header h1{
    font-size: 64px;
    margin-bottom: 70px;
}
.btn-border{
    color: #FB8F1D;
    border: #FB8F1D;
}
.btn-bg{
    background-color: #FB8F1D;
    color: #fff;
}
.dropdown{
    width: 100%;
}
.dropdwon-border{
    border: 1px solid #AFB0B9;
}
/* header end */

/* features destination start */
.destination{
    background-image: url(../images/bg-3.png);
    background-size: cover;
}
/* features destination end */

/* footer start */
footer li{
    list-style-type: none;
}
footer li a{
    color: #848484;
    text-decoration: none;
}
footer li:nth-child(1){
    margin-bottom: 15px;
    color: #000;
}
/* footer end */